In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

First, let's read our dataset into a DataFrame, and see what each column contains and what data cleaning needs to be done.

In [4]:
# first let's read our dataset into a DataFrame
os_raw= pd.read_csv('office_supplies- dataset.csv')
os_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      9993 non-null   object
 1   Order Date    9993 non-null   object
 2   Ship Mode     9993 non-null   object
 3   Region        9993 non-null   object
 4   Product ID    9993 non-null   object
 5   Category      9993 non-null   object
 6   Sub-Category  9993 non-null   object
 7   Product Name  9993 non-null   object
 8   Sales         9993 non-null   float64
 9   Quantity      9993 non-null   int64
 10  Discount      9993 non-null   float64
 11  Profit        8000 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 937.0+ KB

In [5]:
os_raw.head()

,Order ID,Order Date,Ship Mode,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2015-110870,2015-12-12,First Class,West,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,299.94,6,0.0,NaN
1,CA-2015-110870,2015-12-12,First Class,West,OFF-SU-10001225,Office Supplies,Supplies,Staple remover,25.76,7,0.0,NaN
2,CA-2014-143210,2014-12-01,First Class,East,TEC-PH-10004434,Technology,Phones,Cisco IP Phone 7961G VoIP phone - Dark gray,271.90,2,0.0,NaN
3,CA-2014-143210,2014-12-01,First Class,East,FUR-FU-10003878,Furniture,Furnishings,"Linden 10"" Round Wall Clock, Black",45.84,3,0.0,NaN
4,CA-2014-143210,2014-12-01,First Class,East,FUR-FU-10002268,Furniture,Furnishings,Ultra Door Push Plate,9.82,2,0.0,NaN

We should convert the date into a datetime object, and convert categorical data into a categorical dtype instead of text.

In [6]:
os = os_raw.copy()
os['Order Date'] = pd.to_datetime(os['Order Date'])
os['Ship Mode']= os['Ship Mode'].astype('category')
os['Region'] = os['Region'].astype('category')
os['Category'] = os['Category'].astype('category')
os['Sub-Category'] = os['Sub-Category'].astype('category')
os.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      9993 non-null   object
 1   Order Date    9993 non-null   datetime64[ns]
 2   Ship Mode     9993 non-null   category
 3   Region        9993 non-null   category
 4   Product ID    9993 non-null   object
 5   Category      9993 non-null   category
 6   Sub-Category  9993 non-null   category
 7   Product Name  9993 non-null   object
 8   Sales         9993 non-null   float64
 9   Quantity      9993 non-null   int64
 10  Discount      9993 non-null   float64
 11  Profit        8000 non-null   float64
dtypes: category(4), datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 664.9+ KB